.NavbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    position: relative;
  }
  
  #logo {
    width: 110px;
  }
  
  .categories {
    display: flex;
    gap: 30px;
  }
  
  .categories a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-shadow: 1px 1px 2px aqua;
    display: inline-block;
    position: relative;
  }
  
  .categories a:hover {
    color: yellow;
    text-shadow: 1px 1px 2px lightgoldenrodyellow;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .buttons button {
    font-size: 17px;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
    color: aliceblue;
    background: transparent;
    border: 2px solid aqua;
  }
  
  button:hover {
    color: aqua;
    box-shadow: 2px 2px 5px #03e9f4, -2px -2px 5px #03e9f4;
  }
  
  /* SubNavbar for mobile view */
  .sub-navbar-mobile {
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    border-top: 1px solid aqua;
  }
  
  .sub-nav-link {
    color: white;
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
  }
  
  .sub-nav-link:hover {
    background-color: #555;
    color: yellow;
  }
  
  /* Hide SubNavbar on larger screens */
  @media (min-width: 768px) {
    .sub-navbar-mobile {
      display: none;
    }
  }
  
  /* Responsive styling for main categories */
  @media screen and (max-width: 768px) {
    .NavbarContainer {
      justify-content: space-between;
    }
  
    .categories {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 10px;
      background-color: black;
      border: 1px solid aqua;
      padding: 10px;
      border-radius: 5px;
    }
  
    .categories a {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    .menu-icon {
      display: block;
      color: white;
      font-size: 30px;
      cursor: pointer;
    }
  
    .show-menu {
      display: flex;
    }
  }
  